
$theme-color :(
	"primary":#F42272,
	"secondary": #F397D6,
	"white":#FCFCFC,
	"lgray":#BFADA3,
	"darkgray":#31393C
	);

$border-radius: 0px;
$navbar-padding-y: 0px;
$navbar-brand-padding-y: 0px;
$navbar-toggler-padding:0px;
@import '../../node_modules/bootstrap/scss/bootstrap';

$white: #E4DFDA;
$head: #111111;
$body: #999999;
$link: #333333;
$hover: #555555;



*{
	padding:0;
	margin:0;
}
body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color:#f7f7f7;
}
.jumbotron.jumbotron-fluid{
	height: 500px;
	background:url('../images/hqdefaultlg.jpg')no-repeat center center fixed;
	background-size:cover;
	clip-path: polygon(0 1%, 100% 0, 100% 100%, 94% 100%, 89% 95%, 11% 95%, 6% 100%, 0 100%);
	margin-bottom: 10px;
}

.upper-content{
	padding:5px;
	background-color:white;
	color:black;
	text-align: center;
	margin:0 auto;
	width:50%;
	font-size: 20px;
	clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}
.logo{
	color:white;
	padding:5px;
	margin:40px auto;
	width:50%;
	
}
.small{
	display:none;
}
.header-h1{
	margin-top:100px;
}

.card-bodybot{
	background-color:#f7f7f7;
}
.card-about{
	border:none;
	font-size: 15px;
	padding:0;
	background-color:#f7f7f7;
}
.card-profile{
	border:none;
	font-size: 15px;
}
.card-header{
	background-color:#0f4c81;
	color:white;
	padding:10px;
	font-size: 20px;
}
.card-header2{
	background-color:#0f4c81;
	color:white;
	padding:10px;
	font-size: 15px;

}
.card-img{
	border:none;
}
img.image{
	width:60px;
	padding:20px 15px;
}

.container-tab{
	background-color:#dfe3ee;
	text-align: center;
	color:white;
	margin-top: 10px;
}
.col-images{
	width:60px;
}

.card-gallary{
	background-color:#f7f7f7;
}
.mapouter{
            position:relative;
            text-align:right;
            height:320px;
            width:100%;
          }
          .gmap_canvas {
            overflow:hidden;
            background:none!important;
            height:320px;
            width:100%px;
              }
 .card-find{
 	background-color:#f7f7f7;
 	padding:0px;
 	border:none;
 }
 textarea{
 	width:100%;
 	padding:10px;
 }
 img.location{
 	width:20px;
 	margin-right: 10px;
 }
footer{
	background:black;
	color:white;
	text-align: center;
	padding:15px;
	margin-top: auto;
	
}
/* media queries */
  @mixin phone{
  	@media only screen and (max-width:480px){
  		@content;
  	}
  }


@mixin ipad{
  	@media only screen and (max-width:768px){
  		@content;
  	}
  }

 @mixin ipadpro{
  	@media only screen and (max-width:5024px){
  		@content;
  	}
  }


@include phone{
	.jumbotron.jumbotron-fluid{
		height: 200px;
		background:url('../images/mobile.jpg')no-repeat center center fixed;
		background-size:cover;
	}
	img.image{
	width:25px;
	padding:0px;
}
div.card-header{
	font-size: 15px;
	padding:5px;
}
.card-gallary{
	padding:2px;
	background-color:#f7f7f7;
}
.logo{
	color:white;
	padding:5px;
	margin:0 auto;
	font-size: 10px;
	width:100%;
	text-align: center;
	clip-path: polygon(0 0, 100% 0, 96% 100%, 4% 100%);
	}
.header-h1{
	margin-top:40px;
}
.upper-content{
	padding:5px;
	background-color:white;
	color:black;
	text-align: center;
	width:100%;
	font-size: 10px;
	clip-path: polygon(0 0, 100% 0, 93% 100%, 7% 100%);
}

}

   
dt {
 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

// 



















